.emblaViewport {
  overflow: hidden;
  width: 100%;
}

.emblaViewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.emblaViewport.is-dragging {
  cursor: grabbing;
}

.embla {
  display: flex;
  position: relative;
  padding: 20px;
}

.emblaContainer {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  grid-auto-columns: 50%;
}

.emblaSlide {
  position: relative;

  flex: 0 0 100%;
}

.emblaSlideInner {
  position: relative;
  overflow: hidden;
}

.emblaSlideImage {
  height: 180px;
  background-color: aliceblue;
}
