  .sectionTopContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .seeMoreArticles {
      background-color: #5B9AF9;
      color: aliceblue;
      padding: 1rem;
      border-radius: 12px;
    }
  }

  .sectionBottomContent {
    display: flex;
    gap: 2rem;

    .leftWrapperDocumentsContent {
      flex: 1;

      .leftDocumentContent {
        display: flex;
        flex-direction: column;
        align-items: center;

        .leftImageExtraDocument {
          //TODO: Eliminar los px
          width: 271px;
          height: 304px;
          background-color: antiquewhite;
        }

        .leftExtraDocumentDescription {
          text-align: center;
        }
      }
    }

    .centerWrapperDocumentContent {
      flex: 2;

      .centerDocumentContent {

        .centerDocumentDescription {
          width: 90%;
          margin: 0 auto;
          text-align: center;
        }

        .centerImageExtraDocument {
          //TODO: Eliminar los px
          width: 400px;
          height: 564px;
          margin-left: auto;
          margin-right: auto;

          background-color: antiquewhite;
        }
      }
    }

    .rightWrapperDocumentsContent {
      flex: 1;

      .rightDocumentContent {
        display: flex;
        flex-direction: column;
        align-items: center;

        .rightImageExtraDocument {
          //TODO: Eliminar los px
          width: 271px;
          height: 304px;
          background-color: antiquewhite;
        }

        .rightExtraDocumentDescription {
          text-align: center;
        }
      }
    }

  }
